@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    padding: 10px 15px;
  }
  .btn-big {
    padding: 16px 28px;
  }

  .btn-sm {
    padding: 6px 10px;
    transition: 0.15s ease-in-out;
  }

  .border-b-acc {
    border-bottom: 1px solid var(--clr-accent);
  }

  .underline-hover {
    position: relative;
  }

  .underline-hover:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 0;
  }
  .underline-hover:hover::after {
    width: 100%;
    height: 1px;
    background-color: var(--clr-accent);
  }
}
