@import url("https://fonts.cdnfonts.com/css/calibre");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --clr-primary: #1566c0;
  --clr-secondary: #1566c0; */
  --clr-accent: #007bff;

  --clr-neutral: #444452;
  --clr-light: #fffbfb;
  --clr-dark: #111;

  --clr-primary-hover: #d6d6d6;
  --clr-accent-hover: #f5f5f7;
  /* --------- Font Family ----------*/
  --ff-normal: "Calibre", sans-serif;
  --ff-accent: "Noto Sans Mono", monospace;
  /* --------- Font Weights ----------*/
  --fw-body-main: 400;
  --fw-body-bold: 600;
  --fw-body-thin: 300;

  --fw-heading-main: 500;
  --fw-heading-bold: 600;
  --fw-heading-thin: 400;
  /* --------- Font Sizes ----------*/
  --fs-p: 1.25rem;
  --fs-h3: 1.3rem;
  --fs-h2: 2.5rem;
  --fs-h1: clamp(3rem, 5vw + 1rem, 5rem);
  /* --------- MAIN MARGIN ----------*/
  --main-margin: clamp(1rem, 3vw, 16rem);
  /* --------- BUTTON PROPERTIES ----------*/
  --btn-border-radius: 4px;
  --btn--hover-transition: all 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  --fw-btn-normal: 600;

  /* -----utils---- */
  --icon-size: 1.25rem;
  --decoration-line-height: 5.625rem;
}

/* ---------UTILS--------- */
.btn-empty {
  border: 1px solid var(--clr-accent);
  border-radius: var(--btn-border-radius);
  color: var(--clr-accent);
}
.btn-empty:hover {
  background-color: var(--clr-accent);
  color: var(--clr-light) !important;
}

.btn-full {
  color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  border-radius: var(--btn-border-radius);
  background-color: var(--clr-accent);
}
.btn-full:hover {
  background-color: transparent;
  color: var(--clr-accent) !important;
}

.btn-big {
  padding: 16px 28px;
}

/* ____________________________ */
.fw-h-main {
  font-weight: var(--fw-heading-main);
}
.fw-h-bold {
  font-weight: var(--fw-heading-bold);
}
.fw-h-thin {
  font-weight: var(--fw-heading-thin);
}
/* ----------- */
.fw-b-main {
  font-weight: var(--fw-body-main);
}
.fw-b-bold {
  font-weight: var(--fw-body-bold);
}
.fw-b-thin {
  font-weight: var(--fw-body-thin);
}
/* ------------------ */

.clr-accent {
  color: var(--clr-accent) !important;
}
.clr-neutral {
  color: var(--clr-neutral);
}
.clr-light {
  color: var(--clr-light);
}
/* ------------------ */
.ff-accent {
  font-family: var(--ff-accent);
}

body {
  min-height: 100vh;
  font-family: var(--ff-normal);
  background-color: var(--clr-light);
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-normal);
  line-height: normal;
}

h1 {
  color: var(--clr-neutral);
  font-size: var(--fs-h1);
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-body-normal);
  color: var(--clr-neutral);
  line-height: normal;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  display: block;
}

.min-height-100vh {
  min-height: 100vh;
}

.wrapper {
  margin-inline: var(--main-margin) !important;
}

/* Barra di scorrimento verticale */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #888888ac;
  border: 4px white solid;
}

/* ______________________________________________________ */
.app-layout {
  --main-padding: 150px;

  padding-inline: var(--main-padding);
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .app-layout {
    --main-padding: 40px;
  }
}

.up-transition {
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.icon {
  font-size: var(--icon-size);
  aspect-ratio: 1;
  text-shadow: 2px 1px 3px rgb(0, 0, 0, 0.2);
}

.up-transition:hover {
  transform: translateY(-3px);
  color: var(--clr-accent);
}

.socials-container {
  position: absolute;
  right: calc(var(--main-padding) / 2);
  bottom: 0;
  transform: translateX(50%);
  height: 295px;
}

.switch-container {
  left: calc(var(--main-padding) / 2);
  transform: translateX(-50%);
  bottom: 0;
  position: absolute;
  height: 295px;
}

.socials-container a {
  height: var(--icon-size);
}

.line {
  height: var(--decoration-line-height);
  position: relative;
}

.line::after {
  background: var(--clr-neutral);
  position: absolute;
  content: "";
  width: 1px;
  top: 0;
  right: 50%;
  transform: translateX(-50%);

  height: 100%;
}

/* ___________________________ */

.email-link {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
