.hero-section {
  max-width: 53.125rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.switch-container input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 47px;
  height: 25px;
  background: var(--clr-neutral);
  display: block;
  border-radius: 100px;
  position: relative;
  transform: rotate(-90deg);
  overflow: hidden;
}

.switch-container label:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  width: 20px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 100%;
  transition: all 0.2s;
}

.switch-container label:before {
  content: "";
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: calc(100% - 20px);
  width: 20px;
  aspect-ratio: 1;
  background: var(--clr-accent);
  border-radius: 100%;
  transition: opacity 0s;
  opacity: 0;
}

.switch-container input:checked + label {
  background: var(--clr-accent);
}

.switch-container input:checked + label:after {
  left: calc(100% - 23px);
}

.switch-container input:checked + label:before {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.1s ease-in 0.05s;
}

.switch-container label:active:after {
  width: 23px;
}

.switch-container input[type="checkbox"]:checked + label {
  background: var(--clr-accent);
}

/* ________________about me section_____________ */
.profile-pic {
  border-radius: 6px;
  top: -20%;
  max-width: 100%;
  object-fit: cover;
  /* border: 1px solid var(--clr-accent); */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.209);
  background-color: white;
}

.extra-info-wrapper {
  background-color: var(--extra-info-bg);
  border-radius: 4px;
}

.about-me h4 {
  color: var(--clr-accent);
  font-size: var(--fs-h4);
  font-weight: 500;
  opacity: 50%;
}

/* ---------------ANT TAB SKILLS SECTION--------------- */
/* Cambia il colore della barra di progressione a rosso */
#root .ant-tabs-ink-bar {
  background-color: var(--clr-accent);
}

/* Imposta uno sfondo rosso opaco per l'opzione attiva */
#root .ant-tabs-tab-active {
  background-color: rgba(0, 102, 255, 0.1);
}

/* Rimuovi il margine tra le opzioni */
#root .ant-tabs-tab {
  margin: 0;
  transition: 0.1s ease-in;
}

#root .ant-tabs-tab:hover {
  background-color: rgba(0, 102, 255, 0.1);
  color: var(--clr-accent);
}

/* #root .ant-tabs.ant-tabs-left .ant-tabs-nav-wrap {
  display: flex;
  flex-direction: row-reverse;
}

#root .ant-tabs.ant-tabs-left .ant-tabs-tab {
  order: 1 !important;
}

#root .ant-tabs.ant-tabs-left .ant-tabs-ink-bar {
  order: 2 !important;
} */

/* ___________________________SKILLS_____________________ */

.skills h6 {
  font-family: var(--ff-accent);
  font-size: 12px;
}

.skills h5 {
  font-weight: 500;
  line-height: 1 !important;
  font-size: 24px;
}

.skills h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 8px;
  font-style: italic;
}

.skills {
  margin-bottom: 10rem;
}

/* __________[PROJECT SECTION]__________ */

.projects .btn-container {
  display: flex;
  gap: 12px;
  margin-top: 2rem;
}

.projects .btn-container button {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
  border-radius: 5px;
  line-height: 0.5;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-inline: 8px;
}

.project-card {
  position: relative;
  min-height: clamp(250px, 20vw, 370px);
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  will-change: transform, opacity;
}

.project-card::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
}

.project-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: inherit;
}

.hidden-content {
  background: rgb(247, 247, 247);
  background: linear-gradient(
    180deg,
    rgba(247, 247, 247, 0) 0%,
    rgba(27, 27, 27, 0.54) 61%,
    rgba(0, 0, 0, 0.886) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 30%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* unhover states */

@media screen and (min-width: 768px) {
  .project-card h3 {
    font-weight: var(--fw-heading-bold);
    /* font-size: 24px; */
    transform: translateY(100%);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    line-height: 0.9;
  }

  .hidden-content {
    opacity: 0%;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hidden-content p {
    transition: all 0.3s ease;
    transform: translateY(110%);
    /* font-size: 16px; */
    margin-bottom: 4px;
  }

  .project-card .hidden-content .tech-container {
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(120%);
  }
  /* //HOVERS */
  .project-card:hover .hidden-content {
    opacity: 100%;
  }
  .project-card:hover .hidden-content h3 {
    transform: translateY(0%);
  }
  .project-card:hover .hidden-content p {
    transform: translateY(0%);
  }
  .project-card:hover .hidden-content .tech-container {
    transform: translateY(0%);
  }
}

.pill {
  line-height: normal;
  background-color: #8a8a8a7e;
  padding-inline: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 100vw;
  /* font-size: 12px; */
}

.project-link-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: var(--clr-dark);
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.132))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.278));
}

.project-link {
  line-height: 0.6;
}

.project-link i {
  font-size: 16px;
  color: var(--clr-light);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.275));
}

.macOS-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.macOS-buttons span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.macOS-buttons span:nth-child(1) {
  background-color: #ff5f57;
  border: 1px solid #46090530;
}

.macOS-buttons span:nth-child(2) {
  background-color: #ffbd2e;
  border: 1px solid #46450530;
}

.macOS-buttons span:nth-child(3) {
  background-color: #27c93f;
  border: 1px solid #11460530;
}
